





nav {
    display: flex;
    justify-content:space-between;
    padding-right: 60px;
    text-decoration:none;
}
.sectiontop {

    display: flex;
    justify-content: center;
} 

.immage-button {
    color:white;
    font-size: large;
    width: 80%;
    height:400px;
   background-image: url("https://picsum.photos/600/400"); 
   background-repeat: no-repeat;
   background-size: cover;
}
.immage-button a {
border: 1px solid white;
padding: 5px 5px;
}
footer {

    background-color:lightgrey;
    padding: 20px;
    text-align: center;
}
.firstrow {
    display:flex;
    
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.pics {
text-align:center;
}

button {
background-color:white;
border:1px solid black;
color:black;
padding: 10px 10px;
}

button:hover {
background-color: black;
color: white;
border:1px solid white;
}
button a {
   text-decoration: none;
    color: inherit;

}